body {
    font-family: ClearSans;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.book {
    display: flex;
    border: 1px solid;
}

.book .book__name {
    width: 200px;
    border-right: 1px solid;
}

.book .book__desc {
    width: 200px;
    border-right: 1px solid;
}

.book .book__author {
    width: 150px;
    border-right: 1px solid;
}

.book .book__read {
    width: 50px;
    border-right: 1px solid;
}

.book .book__remove {
    width: 100px;
}

.book .read {
    background-color: green;
    cursor: pointer;
}

.book .notread {
    background-color: red;
    cursor: pointer;
}

.new-book-button {
    margin: 10px 0px;
    cursor: pointer;
}

form {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    border: 1px solid;
    width: 620px;
    max-width: 620px;
}

input {
    height: 25px;
    margin: 5px 0px;
    max-width: 600px;
    margin-left: 5px;
}

input:invalid {
    box-shadow: 0 0 5px 1px red;
  }

label {
    padding-left: 5px;
}

textarea {
    font-family: ClearSans;
    height: 100px;
    margin: 5px 0px;
    max-width: 600px;
    margin-left: 5px;
}

form div {
    display: flex;
    justify-content: space-around;
    margin: 5px;
}

form button {
    width: 30%;
}

